@page
@model ErrorModel
@{
    ViewData["Title"] = "Message title";
    Layout = "~/Pages/Shared/_LayoutError.cshtml";
}

<div class="col-md-12">
    <h1><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> @ViewData["Title"]</h1>
    <p>Sample text.&#32;Sample text.&#32;Sample text.&#32;Sample text.&#32;Sample text.&#32;Sample text.&#32;Sample text.</p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>
