@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<nav role="navigation" id="wb-bc" property="breadcrumb">
    <h2>@Localizer["You are here:"]</h2>
    <div class="container">
        <div class="row">
            @*TODO: Can this be determined via a site map?*@
            <ol class="breadcrumb">
                <li>
                    <a href="http://wet-boew.github.io/v4.0-ci/index-en.html">Home</a>
                </li>
                <li>
                    <a href="http://wet-boew.github.io/v4.0-ci/demos/index-en.html">Working examples</a>
                </li>
                <li>
                    <a asp-page="/Index">Government of Canada Intranet theme</a>
                </li>
                <li>@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
</nav>