<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]  - Working examples - Web Experience Toolkit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Meta data -->
    <meta name="description" content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
    <meta name="dcterms.title" content="Content page - No search, language toggle, site menu or breadcrumb trail - Web Experience Toolkit">
    <meta name="dcterms.creator" content="French name of the content author / Nom en français de l'auteur du contenu">
    <meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)">
    <meta name="dcterms.modified" title="W3CDTF" content="Date modified (YYYY-MM-DD) / Date de modification (AAAA-MM-JJ)">
    <meta name="dcterms.subject" title="scheme" content="French subject terms / Termes de sujet en français">
    <meta name="dcterms.language" title="ISO639-2" content="eng">
    <!-- Meta data-->
    <link href="~/lib/wet-boew/dist/theme-gc-intranet/assets/favicon.ico" rel="icon" type="image/x-icon">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/wet-boew/dist/theme-gc-intranet/css/theme.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <noscript><link rel="stylesheet" href="~/lib/wet-boew/dist/wet-boew/css/noscript.css" /></noscript>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/wet-boew/dist/theme-gc-intranet/css/theme.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <noscript><link rel="stylesheet" href="~/lib/wet-boew/dist/wet-boew/css/noscript.min.css" /></noscript>
    </environment>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
        </li>
        <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
        </li>
    </ul>
    <partial name="_HeaderPartial" />
    <main role="main" property="mainContentOfPage" class="container">
        <h1 id="wb-cont" property="name">@ViewData["Title"]</h1>

        @RenderBody()
    </main>
    <partial name="_FooterPartial" />
    <environment include="Development">
        <script src="~/lib/wet-boew/dist/wet-boew/js/jquery/2.1.4/jquery.js"></script>
        <script src="~/lib/wet-boew/dist/wet-boew/js/wet-boew.js"></script>
        <script src="~/lib/wet-boew/dist/theme-gc-intranet/js/theme.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/wet-boew/dist/wet-boew/js/jquery/2.1.4/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-8gBf6Y4YYq7Jx97PIqmTwLPin4hxIzQw5aDmUg/DDhul9fFpbbLcLh3nTIIDJKhx">
        </script>
        <script src="~/lib/wet-boew/dist/wet-boew/js/wet-boew.min.js"></script>
        <script src="~/lib/wet-boew/dist/theme-gc-intranet/js/theme.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
